.main {
    display: grid;
    box-sizing: border-box;
    height: 95vh;
    align-content: center;
    justify-content: center;
    gap: 10vmin;
    overflow-y: hidden;
    padding: 0 20vw;
}

@media (orientation: landscape) {
    .main {
        grid-auto-flow: column;
        padding: 0 15vw;
    }
}

.settings {
    position: absolute;
    right: 0;
}
