.main {
    display: grid;
    box-sizing: border-box;
    height: 95vh;
    align-content: center;
    justify-content: center;
    gap: 15vmin;
    overflow-y: hidden;
}

@media (orientation: landscape) {
    .main {
        grid-auto-flow: column;
    }
}
