.main {
    text-align: center;
    box-sizing: border-box;
    width: 70%;
    background: none;
    border: none;
    color: var(--color-primary);
    line-height: 2;
    font-size: 1.125rem;
    text-shadow: var(--text-shadow);
}

.main::placeholder {
    font-style: italic;
    color: var(--color-disabled);
}
